body {
  background: #1d1d1d;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container {
  max-width: 400px;
}

* {
  color: white;
}

.text-muted {
  color: white !important;
  text-shadow: 5px 5px 10px lightblue;
}

.details,
input {
  box-shadow: 5px 5px 30px lightblue;
}


.details * {
  color: black;
  text-shadow: none;
}